@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.initialClass {
  background-color: #34495e;
  margin: 0px;
  padding: 0px;
  overflow: hidden !important;
  font-family: "Roboto", sans-serif !important;
}
